

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-box {
  position: absolute;
  top: 50px; /* Adjust the top value to position the text box vertically */
  left: 50px; /* Adjust the left value to position the text box horizontally */
  background-color: none; /* Background color with transparency */
  /* height: 60px;
  width: 60px; */
  font-size: 30px;
  padding: 100px;
  /* border: 1px solid #000; */
  border: none;
  border-radius: none;
  z-index: 1;
}
