.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-box {
    position: absolute;
    top: 10%; /* Adjust the top value as a percentage of the image container height */
    left: 10%; /* Adjust the left value as a percentage of the image container width */
    width: 40%; /* Set the width as a percentage of the image container width */
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7); /* Background color with transparency */
    padding: 10px;
    border: none; /* Remove the outer border */
    border-radius: 5px;
    z-index: 1; /* Set a higher z-index to make the text box appear on top of the image */
  }
  