#root {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #png {
    text-align: center;
    z-index: 0;
    width: 1700px;
    height: 2200px;
    width: 100%;
    position: relative;
    zoom: 75%;
    margin: 0 auto;
  }
