
/* PLAYER STATS */

#core {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#level_select {
    background-color: white;
    border-color: white;
    color: black;
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 132px;
    left: 960px;
}

#pb {
    font-size: 40px;
    color: black;
    position: absolute;
    top: 422px;
    left: 275px;
}

/* Core Stats + Mods */
#str_select {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    border-color: white;
    top: 433px;
    left: 118px;
}

#str_mod {
    color: black;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 485px;
    left: 150px;
}

#dex_select {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    border-color: white;
    top: 633px;
    left: 118px;
  }

#dex_mod {
    color: black;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 683px;
    left: 150px;
}


#con_select {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    border-color: white;
    top: 833px;
    left: 118px;
}

#con_mod {
    color: black;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 883px;
    left: 150px;
}

#int_select {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    border-color: white;
    top: 1032px;
    left: 118px;
}

#int_mod {
    color: black;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1083px;
    left: 150px;
}

#wis_select {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    border-color: white;
    top: 1231px;
    left: 118px;
}

#wis_mod {
    color: black;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1282px;
    left: 150px;
}

#cha_select {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    border-color: white;
    top: 1430px;
    left: 118px;
}

#cha_mod {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1478px;
    left: 150px;
}

/* Saving Throws + PB */

#str_st {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 530px;
    left: 325px;
}
#st_pb_str {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 574px;
    left: 275px;
}

#dex_st {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 569px;
    left: 325px;
}
#st_pb_dex {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 611px;
    left: 275px;
}

#con_st {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 605px;
    left: 325px;
}
#st_pb_con {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 648px;
    left: 275px;
}

#int_st {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 643px;
    left: 325px;
}
#st_pb_int {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 686px;
    left: 275px;
}

#wis_st {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 680px;
    left: 325px;
}
#st_pb_wis {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 723px;
    left: 275px;
}

#cha_st {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 717px;
    left: 325px;
}
#st_pb_cha {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 760px;
    left: 275px;
}

#acrobatics {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 850px;
    left: 323px;
}
#acrobatics_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 893px;
    left: 275px;
}

#animal_handling {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 888px;
    left: 323px;
}
#animal_handling_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 931px;
    left: 275px;
}

#arcana {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 924px;
    left: 323px;
}
#arcana_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 969px;
    left: 275px;
}

#athletics {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 962px;
    left: 323px;
}

#athletics_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1006px;
    left: 275px;
}

#deception {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1000px;
    left: 323px;
}
#deception_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1044px;
    left: 275px;
}

#history {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1037px;
    left: 323px;
}
#history_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1081px;
    left: 275px;
}

#insight {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1075px;
    left: 323px;
}
#insight_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1118px;
    left: 275px;
}

#intimidation {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1113px;
    left: 323px;
}
#intimidation_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1155px;
    left: 275px;
}

#investigation {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1149px;
    left: 323px;
}
#investigation_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1193px;
    left: 275px;
}

#medicine {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1187px;
    left: 323px;
}
#medicine_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1230px;
    left: 275px;
}

#nature {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1225px;
    left: 323px;
}
#nature_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1268px;
    left: 275px;
}

#perception {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1261px;
    left: 323px;
}
#perception_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1306px;
    left: 275px;
}

#performance {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1298px;
    left: 323px;
}
#performance_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1342px;
    left: 275px;
}

#persuasion {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1337px;
    left: 323px;
}
#persuasion_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1380px;
    left: 275px;
}

#religion {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1374px;
    left: 323px;
}
#religion_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1418px;
    left: 275px;
}

#sleight_of_hand {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1412px;
    left: 323px;
}
#sleight_of_hand_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1455px;
    left: 275px;
}

#stealth {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1449px;
    left: 323px;
}
#stealth_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1493px;
    left: 275px;
}

#survival {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 1488px;
    left: 323px;
}
#survival_pb {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 1530px;
    left: 275px;
}

#initiative {
    position: absolute;
    text-align: center;
    top: 335px;
    left: 825px;
    font-size: 60px;
}

#passive_perception {
    position: absolute;
    text-align: center;
    top: 1604px;
    left: 98px;
    font-size: 35px;
}

#ac {
    position: absolute;
}

#curr_hp {
    position: absolute;
}

#max_hp {
    position: absolute;
    font-size: 30px;
    top: 507px;
    left: 900px;
}

#temp_hp {
    position: absolute;
}

#hit_die {
    position: absolute;
    top: 860px;
    left: 675px;
    font-size: 50px;
    text-align: left;
}

#hit_die_num {
    position: absolute;
    top: 860px;
    left: 675px;
    font-size: 20px;
    text-align: left;
}

#ds_success_1 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 891px;
    left: 955px;
}

#ds_success_2 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 891px;
    left: 991px;
}

#ds_success_3 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 891px;
    left: 1027px;
}

#ds_fail_1 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 932px;
    left: 955px;
}

#ds_fail_2 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 932px;
    left: 991px;
}

#ds_fail_3 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 932px;
    left: 1027px;
}

#temp_hp {
    width: 250px;
    text-align: center;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 60px;
    position: absolute;
    top: 730px;
    left: 730px;
    border-color: white;
}


#shortRest {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    background-color: rgb(98, 98, 98);
    font-size: 20px;
    top: 60px;
    left: 1350px;
  }
  
  #longRest {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    background-color: rgb(98, 98, 98);
    font-size: 20px;
    top: 60px;
    left: 1470px;
  }
  
  #charName {
    height: 40px;
    width: 500px;
    text-align: left;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 40px;
    position: absolute;
    border-color: white;
    top: 172px;
    left: 120px;
  }
  
  #playName {
    height: 45px;
    width: 250px;
    text-align: left;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 30px;
    position: absolute;
    border-color: white;
    top: 128px;
    left: 1330px;
  }
  
  #exp {
    width: 250px;
    text-align: left;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 1330px;
    border-color: white;
  }
  
  #speed {
    color: black;
    font-size: 55px;
    position: absolute;
    top: 345px;
    left: 954px;
  }
  
  #thisclass {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 40px;
    position: absolute;
    top: 130px;
    left: 745px;
  }
  
  #background {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 130px;
    left: 1060px;
  }
  
  #race {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 745px;
  }
  
  #subrace {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 220px;
    left: 956px;
  }
  
  #alignment {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 1060px;
  }
  
  #personality {
    height: 135px;
    max-height: 135px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 370px;
    left: 1165px;
  }
  
  #ideals {
    height: 100px;
    max-height: 100px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 560px;
    left: 1165px;
  }
  
  #bonds {
    height: 100px;
    max-height: 100px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 715px;
    left: 1165px;
  }
  
  #flaws {
    height: 100px;
    max-height: 100px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 867px;
    left: 1165px;
  }

  #cp {
    width: 75px;
    text-align: center;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 25px;
    position: absolute;
    top: 1669px;
    left: 635px;
    border-color: white;
  }
  #sp {
    width: 75px;
    text-align: center;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 25px;
    position: absolute;
    top: 1742px;
    left: 635px;
    border-color: white;
  }
  #ep {
    width: 75px;
    text-align: center;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 25px;
    position: absolute;
    top: 1816px;
    left: 635px;
    border-color: white;
  }
  #gp {
    width: 75px;
    text-align: center;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 25px;
    position: absolute;
    top: 1885px;
    left: 635px;
    border-color: white;
  }
  #pp {
    width: 75px;
    text-align: center;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 25px;
    position: absolute;
    top: 1959px;
    left: 635px;
    border-color: white;
  }

  #inspiration {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 360px;
    left: 269px;
  }

  #item-search-button {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 1640px;
    left: 1030px;
    background-color: white;
  }

  #search-button {
    zoom: 3%;
  }