#root {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #leftbutton {
    width: 150px;
    padding-block: 10px;
    font-size: 20px;
    text-align: left;
    float: left;
  }
  
  #rightbutton {
    padding-block: 10px;
    width: 150px;
    font-size: 20px;
    text-align: right;
    float: right;
    justify-content: flex-end;
    word-spacing: 3px;
  }
  
  #png {
    text-align: center;
    z-index: 0;
    width: 1700px;
    height: 2200px;
    width: 100%;
    position: relative;
    zoom: 75%;
    margin: 0 auto;
  }
  
  #shortRest {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    background-color: rgb(98, 98, 98);
    font-size: 20px;
    top: 60px;
    left: 1350px;
  }
  
  #longRest {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    background-color: rgb(98, 98, 98);
    font-size: 20px;
    top: 60px;
    left: 1470px;
  }
  
  #charName {
    height: 40px;
    width: 500px;
    text-align: left;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 40px;
    position: absolute;
    border-color: white;
    top: 172px;
    left: 120px;
  }
  
  #playName {
    height: 45px;
    width: 250px;
    text-align: left;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 30px;
    position: absolute;
    border-color: white;
    top: 128px;
    left: 1330px;
  }
  
  #exp {
    width: 250px;
    text-align: left;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 1330px;
    border-color: white;
  }
  
  #speed {
    color: black;
    font-size: 55px;
    position: absolute;
    top: 345px;
    left: 954px;
  }
  
  #class {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 40px;
    position: absolute;
    top: 130px;
    left: 745px;
  }
  
  #background {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 130px;
    left: 1060px;
  }
  
  #race {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 745px;
  }
  
  #subrace {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 220px;
    left: 956px;
  }
  
  #alignment {
    border-color: white;
    background-color: white;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 1060px;
  }
  
  #personality {
    height: 135px;
    max-height: 135px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 370px;
    left: 1165px;
  }
  
  #ideals {
    height: 100px;
    max-height: 100px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 560px;
    left: 1165px;
  }
  
  #bonds {
    height: 100px;
    max-height: 100px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 715px;
    left: 1165px;
  }
  
  #flaws {
    height: 100px;
    max-height: 100px;
    inline-size: 415px;
    line-height: 27px;
    min-inline-size: 20px;
    overflow:auto;
    padding-inline-start: 5px;
    background-color: white;
    color:black;
    font-size: 20px;
    position: absolute;
    border-color: white;
    top: 867px;
    left: 1165px;
  }