
.incr, .decr{
    background-color: transparent;
    border: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 60px;
    font-size: 17px;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.spellGrid{
    display: flex;
    flex-direction: column;
    /* background-color: lightpink; */
    width: 130px;
}

.counterContainer{
    display: flex;
    /* background-color: lightblue; */

    width: 130px;
    height: 28px;
    margin-top: 6.5px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7.8px;
}

.spellContent{
    margin-left: -94px;
}

p{
    font-family: "papyrus";
    font-size: larger;
    padding-top: 3px;
    color: black;
}
