
.incr, .decr{
    background-color: transparent;
    border: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 60px;
    font-size: 17px;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    color: black;
}

.incr:hover{
    border-color: black;
    background-color: lightgreen;
}
.decr:hover{
    border-color: black;
    background-color: lightcoral;
}

.spellGrid{
    display: flex;
    flex-direction: column;
    /* background-color: lightpink; */
    width: 130px;
}

.counterContainer{
    display: flex;
    /* background-color: lightblue; */

    width: 210px;
    height: 48px;
    margin-left: 10px;
    margin-top: 9.5px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7.8px;
}

.spellContent{
    margin-left: -76px;
}

.counterFont{
    margin-top: 0px;
    font-family: "papyrus";
    font-size: larger;
    padding-top: 3px;
    color: black;
}
