.spell-bg {
    background-image: url('../assets/Spell_Sheet2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    
    /* width: 100vw; */
    height: 1000px;

    /*zoom: 150%;*/
    display: flex;
    flex-direction: column;
}

@media (min-width: 801px){
    .spell-bg{
        width: 100vw;
    }
}

@media (max-width: 800px){
    .spell-bg{
        width: 800px
    }
}

.header{
    padding-top: 60px;
    display: flex;
    height: 55px;
    flex-direction: column;
    align-items: center;
    
    /* justify-content: space-between; */
    justify-content: center;
    
    /* background-color: transparent; */
    padding-bottom: 59.5px;

}

.info{
    display: flex;
    flex-direction: row;
    /* background-color: lightblue; */
    align-items: center;
    width: 630px;
    justify-content: space-between;
    padding-top: 30px;
}
.spell-create-div{
    display: flex;
    flex-direction: row;
    /* background-color: lightpink; */
    width: 500px;
    padding-top: 25px;
    margin-bottom: -15px;
}

.left-section{
    display: flex;
    /* background-color: red; */
    /* margin-left: -265px;
    margin-bottom: -10px; */
    padding-top: 15px;
    margin-right: 25px;
}

.right-section{
    display: flex;
    /* background-color: lightpink; */
    /* margin-right: -300px;
    padding-left: 27px; */
    justify-content: space-between;
}

.spell-class{
    height: 30px;
    width: 250px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    font-family: "papyrus";
    color: black; /*A lot of fonts weren't visible so I made the font color black for a lot of these classes*/
    /* zoom: 75%; */
}

.spell-ability, .attack-bonus{
    max-width: 85px;
    height: 37px;
    margin-right: 35px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    font-family: "papyrus";
    color: black;
}
.save-dc{
    max-width: 85px;
    height: 37px;
    margin-right: 40px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    font-family: "papyrus";
    color: black;
}

.right-input{
    /* background-color: orange; */
}

.spell-content{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
}

.col1, .col2, .col3{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 780px;
    border: solid;
    border-color: black;
    border-width: 1px;

    width: 236px;
}

.lvl-header{
    display: flex;
}

.lvl-0{
    height: 210px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
}

.lvl-1{
    padding-top: 3px;
    margin-left: -1.4px;
    height: 286.5px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

.lvl-2{
    flex: 1;
    margin-left: -1.5px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
}
.lvl-3{
    height: 284.5px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-4{
    height: 286px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}

.lvl-5{
    flex: 1;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-6{
    height: 214px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    margin-left: -1.5px;
    /* background-color: lightblue; */
}
.lvl-7{
    height: 214px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    margin-left: -1.5px;
}
.lvl-8{
    height: 178.5px;
    margin-left: -1.5px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}
.lvl-9{
    flex: 1;
    /* background-color: lightpink; */
    margin-bottom: -2px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    margin-left: -1.5px;
}

.total-slot, .total-slot-left, .total-slot-right{
    width: 45px;
    height: 28px;
    background-color: transparent;
    
    /* padding-right: 10px; */
    margin-right: 13px;
    margin-left: 29px;
    margin-top: 5px;

    text-align: center;
    font-size: 15px;
    font-family: "papyrus";
    color: black;
}






