.spell-bg {
    /* background-image: url('../assets/Spell_Sheet2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; */
    
    /* width: 100vw; */
    /* height: 1000px; */

    /*zoom: 150%;*/
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

#spell_page {
    text-align: center;
    z-index: 0;
    width: 1700px;
    height: 2200px;
    width: 100%;
    zoom: 50%;
    margin: 0 auto;
}

/* @media (min-width: 801px){
    .spell-bg{
        width: 100vw;
    }
}

@media (max-width: 800px){
    .spell-bg{
        width: 800px
    }
} */

.header{
    /* padding-top: 60px; */
    display: flex;
    /* height: 0px; */
    flex-direction: column;
    /* align-items: center; */
    /* position: absolute;
    top: 215px;
    left: 215px; */
    
    justify-content: space-between;
    justify-content: center;
    
    /* background-color: transparent; */
    /* padding-bottom: 59.5px; */

}

.info{
    /* display: flex; */
    /* flex-direction: row; */
    /* position: absolute; */
    /* background-color: lightblue; */
    /* align-items: center; */
    /* width: 630px; */
    /* justify-content: space-between; */
    /* padding-top: 30px; */
}
.spell-create-div{
    top: 220px;
    left: 270px;
    position: absolute;
    /* display: flex;
    flex-direction: row; */
    /* background-color: lightpink; */
    /* width: 500px;
    padding-top: 25px;
    margin-bottom: -15px; */
}

.left-section{
    display: flex;
    /* background-color: red; */
    /* margin-left: -265px;
    margin-bottom: -10px; */
    padding-top: 15px;
    margin-right: 25px;
}

.right-section{
    display: flex;
    /* background-color: lightpink; */
    /* margin-right: -300px;
    padding-left: 27px; */
    justify-content: space-between;
}

.spell-class{
    z-index: 500;
    position: absolute;
    /* max-width: 400px;
    height: 40px; */
    /* margin-right: 40px; */
    background-color: transparent;
    font-size: 25px;
    text-align: center;
    font-family: "papyrus";
    color: black;
}
.spell-class-div{
    position: absolute;
    top: 132px;
    left: 125px;
    width: 370px;
    height: 40px;
    /* margin-right: 40px; */
    background-color: lightblue;

}

.spell-ability{
    top: 110px;
    left: 597px;
    position: absolute;
    max-width: 115px;
    height: 60px;
    /* margin-right: 40px; */
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    font-family: "papyrus";
    color: black;
}

.attack-bonus{
    top: 110px;
    left: 1024px;
    position: absolute;
    max-width: 115px;
    height: 60px;
    /* margin-right: 40px; */
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    font-family: "papyrus";
    color: black;
}

.save-dc{
    top: 110px;
    left: 806px;
    position: absolute;
    max-width: 115px;
    height: 60px;
    /* margin-right: 40px; */
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    font-family: "papyrus";
    color: black;
}

.right-input{
    /* background-color: orange; */
}

.spell-content{
    /* background-color: lightblue; */
    top: 275px;
    left: 46px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 800px; */
}

.col1, .col3{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 1300px;
    border: solid;
    border-color: black;
    border-width: 1px;

    width: 392px;
}
.col2{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 1300px;
    border: solid;
    border-color: black;
    border-width: 1px;

    width: 390px;
}

.lvl-header{
    display: flex;
}

.lvl-0{
    height: 369.7px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
}

.lvl-1{
    padding-top: 4px;
    margin-left: 25px;
    height: 472.5px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

.lvl-2{
    flex: 1;
    margin-left: 25px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
}
.lvl-3{
    margin-top: 20px;
    margin-left: 25px;
    height: 470px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-4{
    height: 472px;
    margin-left: 25px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}

.lvl-5{
    flex: 1;
    margin-left: 25px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-6{
    margin-top: 20px;
    height: 354px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    /* background-color: lightblue; */
}
.lvl-7{
    height: 353px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.lvl-8{
    height: 293px;
    margin-left: 24px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}
.lvl-9{
    flex: 1;
    /* background-color: lightpink; */
    margin-bottom: -2px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.total-slot, .total-slot-left, .total-slot-right{
    width: 80px;
    height: 45px;
    background-color: transparent;
    
    /* padding-right: 10px; */
    margin-right: 13px;
    margin-left: 29px;
    margin-top: 5px;

    text-align: center;
    font-size: 30px;
    font-family: "papyrus";
    color: black;
}






