/* .decrement-0, .decrement-1, .decrement-2, .decrement-3, .decrement-4, .decrement-5, .decrement-6, .decrement-7, .decrement-8, .decrement-9,
.increment-0, .increment-1, .increment-2, .increment-3, .increment-4, .increment-5, .increment-6, .increment-7, .increment-8, .increment-9{
    background-color: transparent;
    border: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 120px;
    font-size: 11px;
    margin-top: 7px;
} */

.incr, .decr{
    background-color: transparent;
    border: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 120px;
    font-size: 10px;
    margin-top: 4px;

}

.counterContainer{
    display: flex;
    height: 44px;
    width: 130px;
    height: 25px;
    margin-top: 6.5px;
    align-items: center;
    justify-content: space-around;
}
