.spell-bg {
    background-image: url('../assets/Spell_Sheet2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    margin: 0;
    
    /* width: 100vw; */
    height: 1000px;

    display: flex;
    flex-direction: column;
}

@media (min-width: 801px){
    .spell-bg{
        width: 100vw;
    }
}

@media (max-width: 800px){
    .spell-bg{
        width: 800px
    }
}

.header{
    padding-top: 60px;
    display: flex;
    height: 55px;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    justify-content: center;
    
    /* background-color: lightgreen; */
    padding-bottom: 60px;

}

.left-section{
    display: flex;
    /* background-color: red; */
    margin-left: -265px;
    margin-bottom: -10px;
}

.right-section{
    display: flex;
    /* background-color: lightpink; */
    margin-right: -300px;
    padding-left: 27px;
    justify-content: space-between;
}

.spell-class{
    height: 30px;
    width: 250px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    font-family: "papyrus";
}

.spell-ability, .attack-bonus{
    max-width: 85px;
    height: 37px;
    margin-right: 35px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    font-family: "papyrus";
}
.save-dc{
    max-width: 85px;
    height: 37px;
    margin-right: 40px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    font-family: "papyrus";
}

.right-input{
    /* background-color: orange; */
}

.spell-content{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col1, .col2, .col3{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 770px;
    border: solid;
    border-color: black;
    border-width: 1px;

    width: 236px;
}

.lvl-header{
    display: flex;
}

.lvl-0{
    height: 213px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
}

.lvl-1{
    height: 289px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
}
.lvl-2{
    flex: 1;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;
}
.lvl-3{
    height: 284px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-4{
    height: 286px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}

.lvl-5{
    flex: 1;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-6, .lvl-7{
    height: 215px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
/* .lvl-7{
    height: 210px;
    border: solid;
    border-color: black;
    border-width: 2px;
} */
.lvl-8{
    height: 177px;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}
.lvl-9{
    flex: 1;
    /* border: solid;
    border-color: black;
    border-width: 2px; */
    display: flex;
    flex-direction: column;

}

.total-slot, .total-slot-left, .total-slot-right{
    width: 45px;
    height: 28px;
    background-color: transparent;
    
    /* padding-right: 10px; */
    margin-right: 13px;
    margin-left: 29px;
    margin-top: 5px;

    text-align: center;
    font-size: 15px;
    font-family: "papyrus";
}






