#root {
  max-width: 5000px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

#png {
  width: 1920px;
  height: 1080px;
  margin: auto;
  align-items: center;
  zoom: 75%;
  position: static;
}

#charname {
  height: 40px;
  width: 350px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 25px;
  position: absolute;
  top: 268px;
  left: 218px;
  border-color: white;
}

#playname {
  height: 35px;
  width: 222px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 25px;
  position: absolute;
  top: 234px;
  left: 1080px;
  border-color: white;
}

#str {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 460px;
  left: 208px;
  border-color: white;
}

#dex {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 610px;
  left: 208px;
  border-color: white;
}

#con {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 760px;
  left: 208px;
  border-color: white;
}

#int {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 910px;
  left: 208px;
  border-color: white;
}

#wis {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 1060px;
  left: 208px;
  border-color: white;
}

#cha {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 1210px;
  left: 208px;
  border-color: white;
}

#st_str {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 35px;
  position: absolute;
  top: 1210px;
  left: 500px;
  border-color: white;
}