#root {
  max-width: 5000px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#png {
  width: 1920px;
  height: 1080px;
  margin: auto;
  align-items: center;
  zoom: 75%;
  position: static;
}

#charname {
  height: 40px;
  width: 350px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 25px;
  position: absolute;
  top: 268px;
  left: 218px;
  border-color: white;
}

#playname {
  height: 35px;
  width: 222px;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 25px;
  position: absolute;
  top: 234px;
  left: 1080px;
  border-color: white;
}

#leftbutton {
  text-align: left;
  float: left;
}

#rightbutton {
  text-align: right;
  float: right;
  justify-content: flex-end;
}