#str {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 460px;
    left: 208px;
    border-color: white;
  }
  
  #dex {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 610px;
    left: 208px;
    border-color: white;
  }
  
  #con {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 760px;
    left: 208px;
    border-color: white;
  }
  
  #int {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 910px;
    left: 208px;
    border-color: white;
  }
  
  #wis {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 1060px;
    left: 208px;
    border-color: white;
  }
  
  #cha {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 1210px;
    left: 208px;
    border-color: white;
  }