
/* STRENGTH STATS + SKILLS */
#str {
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 430px;
    left: 220px;
  }

#str_inc {
    background-color: rgb(59, 152, 59);
    position: absolute;
    width: 8px;
    top: 460px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#str_dec {
    background-color: rgb(152, 59, 59);
    position: absolute;
    width:8px;
    top: 500px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#str_mod {
    text-align: center;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 511px;
    left: 231px;
}

#str_st {
    position: absolute;
    color: black;
    top: 543px;
    left: 363px;
    font-size: 20px;
}

#athletics {
    position: absolute;
    color: black;
    top: 868px;
    left: 361px;
    font-size: 20px;
}

/* DEXTERITY STATS + SKILLS */
  
#dex {
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 580px;
    left: 220px;
  }
  
#dex_inc {
    background-color: rgb(59, 152, 59);
    position: absolute;
    width: 8px;
    top: 610px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#dex_dec {
    background-color: rgb(152, 59, 59);
    position: absolute;
    width:8px;
    top: 650px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#dex_mod {
    text-align: center;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 661px;
    left: 231px;
}

#dex_st {
    position: absolute;
    color: black;
    top: 572px;
    left: 363px;
    font-size: 20px;
}

#acrobatics {
    position: absolute;
    color: black;
    top: 783px;
    left: 361px;
    font-size: 20px;
}

#sleight_of_hand {
    position: absolute;
    color: black;
    top: 1206px;
    left: 361px;
    font-size: 20px;
}

#stealth {
    position: absolute;
    color: black;
    top: 1234px;
    left: 361px;
    font-size: 20px;
}

#con {
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 730px;
    left: 220px;
}

#con_inc {
    background-color: rgb(59, 152, 59);
    position: absolute;
    width: 8px;
    top: 760px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#con_dec {
    background-color: rgb(152, 59, 59);
    position: absolute;
    width:8px;
    top: 800px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#con_mod {
    text-align: center;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 810px;
    left: 231px;
}

#con_st {
    position: absolute;
    color: black;
    top: 600px;
    left: 363px;
    font-size: 20px;
}
  
#int {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 910px;
    left: 208px;
    border-color: white;
}
  
#wis {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 1060px;
    left: 208px;
    border-color: white;
}
  
#cha {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 35px;
    position: absolute;
    top: 1210px;
    left: 208px;
    border-color: white;
}