
/* PLAYER STATS */

#core {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#level_select {
    background-color: white;
    color: black;
    font-size: 25px;
    position: relative;
    top: -745px;
    left: 130px;
}

#pb {
    font-size: 30px;
    position: relative;
    left: -412px;
    top: -556px;
}

#str_inc {
    position: relative;
    background-color: rgb(59, 152, 59);
    width: auto;
    overflow: hidden;
    size:initial;
    top: -650px;
    left: -608px;
    font-size: 10px;
}

#str_dec {
    position: relative;
    background-color: rgb(152, 59, 59);
    size: 2px;
    top: -630px;
    left: -608px;
    font-size: 10px; 
}

#str {
    position: relative;
    font-size: 35px;
    top: -743px;
    left: -517px;
  }

#str_mod {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: -765px;
    left: -517px;
}

#dex_inc {
    position: relative;
    background-color: rgb(59, 152, 59);
    size: 10px;
    top: -723px;
    left: -595px;
    text-align: left;
    font-size: 10px;
}

#dex_dec {
    position: relative;
    background-color: rgb(152, 59, 59);
    size: 10px;
    top: -685px;
    left: -625px;
    text-align: left;
    font-size: 10px; 
}

#dex {
    position: relative;
    font-size: 35px;
    top: -785px;
    left: -517px;
  }

#dex_mod {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 661px;
    left: 231px;
}

#st_pb_str {
    position: relative;
    top: -525.25px;
    left: -420px;
}
#st_pb_dex {
    position: relative;
    top: -521px;
    left: -420px;
}
#st_pb_con {
    position: relative;
    top: -517px;
    left: -420px;
}
#st_pb_int {
    position: relative;
    top: -513px;
    left: -420px;
}
#st_pb_wis {
    position: relative;
    top: -509px;
    left: -420px;
}
#st_pb_cha {
    position: relative;
    top: -505px;
    left: -420px;
}

#str_st {
    position: relative;
    top: 543px;
    left: 363px;
    font-size: 20px;
}

#athletics {
    position: relative;
    top: 868px;
    left: 361px;
    font-size: 20px;
}

#athletics_pb {
    position: relative;
    top: 896px;
    left: 325.75px;
}

/* DEXTERITY STATS + SKILLS */

#dex_st {
    position: relative;
    top: 572px;
    left: 363px;
    font-size: 20px;
}

#acrobatics {
    position: relative;
    top: 783px;
    left: 361px;
    font-size: 20px;
}
#acrobatics_pb {
    position: relative;
    top: 812px;
    left: 325.75px;
}

#sleight_of_hand {
    position: relative;
    top: 1206px;
    left: 361px;
    font-size: 20px;
}
#sleight_of_hand_pb {
    position: relative;
    top: 1234.5px;
    left: 325.75px;
}

#stealth {
    position: relative;
    top: 1234px;
    left: 361px;
    font-size: 20px;
}
#stealth_pb {
    position: relative;
    top: 1262.5px;
    left: 325.75px;
}

#initiative {
    position: relative;
    top: 390px;
    left: 738px;
    font-size: 45px;
}

/* CONSTITUTION STATS */

#con {
    position: relative;
    font-size: 35px;
    top: 730px;
    left: 220px;
}

#con_inc {
    position: relative;
    background-color: rgb(59, 152, 59);
    width: 8px;
    top: 760px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#con_dec {
    position: relative;
    background-color: rgb(152, 59, 59);
    width:8px;
    top: 800px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#con_mod {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 810px;
    left: 231px;
}

#con_st {
    position: relative;
    top: 600px;
    left: 363px;
    font-size: 20px;
}

/* INTELLIGENCE STATS + SKILLS */

#int {
    position: relative;
    font-size: 35px;
    top: 880px;
    left: 220px;
}

#int_inc {
    position: relative;
    background-color: rgb(59, 152, 59);
    width: 8px;
    top: 910px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#int_dec {
    position: relative;
    background-color: rgb(152, 59, 59);
    width:8px;
    top: 950px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#int_mod {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 960px;
    left: 231px;
}

#int_st {
    position: relative;
    top: 627px;
    left: 363px;
    font-size: 20px;
}

#arcana {
    position: relative;
    top: 839px;
    left: 361px;
    font-size: 20px;
}
#arcana_pb {
    position: relative;
    top: 868px;
    left: 325.75px;
}

#history {
    position: relative;
    top: 925px;
    left: 361px;
    font-size: 20px;
}
#history_pb {
    position: relative;
    top: 953px;
    left: 325.75px;
}

#investigation {
    position: relative;
    top: 1009px;
    left: 361px;
    font-size: 20px;
}
#investigation_pb {
    position: relative;
    top: 1037px;
    left: 325.75px;
}

#nature {
    position: relative;
    top: 1065px;
    left: 361px;
    font-size: 20px;
}
#nature_pb {
    position: relative;
    top: 1093.5px;
    left: 325.75px;
}

#religion {
    position: relative;
    top: 1178px;
    left: 361px;
    font-size: 20px;
}
#religion_pb {
    position: relative;
    top: 1205.5px;
    left: 325.75px;
}

/* WISDOM STATS + SKILLS */
  
#wis {
    position: relative;
    font-size: 35px;
    top: 1030px;
    left: 220px;
}

#wis_inc {
    position: relative;
    background-color: rgb(59, 152, 59);
    width: 8px;
    top: 1060px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#wis_dec {
    position: relative;
    background-color: rgb(152, 59, 59);
    width:8px;
    top: 1100px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#wis_mod {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 1110px;
    left: 231px;
}

#wis_st {
    position: relative;
    top: 655px;
    left: 363px;
    font-size: 20px;
}

#animal_handling {
    position: relative;
    top: 812px;
    left: 361px;
    font-size: 20px;
}
#animal_handling_pb {
    position: relative;
    top: 840px;
    left: 325.75px;
}

#insight {
    position: relative;
    top: 953px;
    left: 361px;
    font-size: 20px;
}
#insight_pb {
    position: relative;
    top: 981px;
    left: 325.75px;
}

#medicine {
    position: relative;
    top: 1037px;
    left: 361px;
    font-size: 20px;
}
#medicine_pb {
    position: relative;
    top: 1065.5px;
    left: 325.75px;
}

#passive_perception {
    position: relative;
    top: 1355px;
    left: 195px;
    font-size: 20px;
}

#perception {
    position: relative;
    top: 1093px;
    left: 361px;
    font-size: 20px;
}
#perception_pb {
    position: relative;
    top: 1121.5px;
    left: 325.75px;
}

#survival {
    position: relative;
    top: 1262px;
    left: 361px;
    font-size: 20px;
}
#survival_pb {
    position: relative;
    top: 1290.5px;
    left: 325.75px;
}


/* CHARISMA STATS + SKILLS */

#cha {
    position: relative;
    font-size: 35px;
    top: 1177px;
    left: 220px;
}

#cha_inc {
    position: relative;
    background-color: rgb(59, 152, 59);
    width: 8px;
    top: 1210px;
    left: 135px;
    text-align: left;
    font-size: 10px;
}

#cha_dec {
    position: relative;
    background-color: rgb(152, 59, 59);
    width:8px;
    top: 1250px;
    left: 135px;
    text-align: left;
    font-size: 10px; 
}

#cha_mod {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 1258px;
    left: 231px;
}

#cha_st {
    position: relative;
    top: 684px;
    left: 363px;
    font-size: 20px;
}

#deception {
    position: relative;
    top: 895px;
    left: 361px;
    font-size: 20px;
}
#deception_pb {
    position: relative;
    top: 925px;
    left: 325.75px;
}

#intimidation {
    position: relative;
    top: 980px;
    left: 361px;
    font-size: 20px;
}
#intimidation_pb {
    position: relative;
    top: 1009px;
    left: 325.75px;
}

#performance {
    position: relative;
    top: 1120px;
    left: 361px;
    font-size: 20px;
}
#performance_pb {
    position: relative;
    top: 1149.5px;
    left: 325.75px;
}

#persuasion {
    position: relative;
    top: 1149px;
    left: 361px;
    font-size: 20px;
}
#persuasion_pb {
    position: relative;
    top: 1177.5px;
    left: 325.75px;
}