#png {
  text-align: center;
  z-index: 0;
  width: 1700px;
  min-width: 1700px;
  height: 2200px;
  width: 100%;
  position: relative;
  zoom: 75%;
  margin: 0 auto;
}

#character_name {
  height: 40px;
  width: 400px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color:black;
  font-size: 28px;
  position: absolute;
  border-color: white;
  top: 108px;
  left: 92px;
}

#age {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 87px;
  left: 550px;
}

#eyes {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 142px;
  left: 550px;
}

#character_height {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 87px;
  left: 785px;
}

#skin {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 142px;
  left: 785px;
}

#weight {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 87px;
  left: 990px;
}

#hair {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 142px;
  left: 990px;
}


#symbol_name {
  height: 30px;
  width: 100px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 300px;
  left: 900px;
}

#allies_and_organizations {
  height: 450px;
  width: 350px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 260px;
  left: 475px;
}

#character_backstory {
  height: 750px;
  width: 325px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 800px;
  left: 75px;
}


#additional_features_traits {
  height: 400px;
  width: 700px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 775px;
  left: 475px;
}

#treasure {
  height: 300px;
  width: 700px;
  text-align: left;
  padding-inline-start: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: absolute;
  border-color: white;
  top: 1250px;
  left: 475px;
}


.text-box {
  position: relative;
  top: 10%; /* Adjust the top value as a percentage of the image container height */
  left: 10%; /* Adjust the left value as a percentage of the image container width */
  background-color: rgba(255, 255, 255, 0.7); /* Background color with transparency */
  border: none; /* Remove the outer border */
  padding: 0; /* Remove padding to ensure no overlap with adjacent text boxes */
  z-index: 1; /* Set a higher z-index to make the text box appear on top of the image */
}



/* Styles for the first text box */
.text-box:nth-child(1) {
  width: 20%;
  height: 10%;
}

/* Styles for the second text box */
.text-box:nth-child(2) {
  width: 15%;
  height: 7%;
}

/* Styles for the third text box */
.text-box:nth-child(3) {
  width: 10%;
  height: 5%;
}

/* Styles for the fourth text box */
.text-box:nth-child(4) {
  width: 12%;
  height: 6%;
}

/* Styles for the fifth text box */
.text-box:nth-child(5) {
  width: 15%;
  height: 7%;
}

/* Styles for the sixth text box */
.text-box:nth-child(6) {
  width: 10%;
  height: 5%;
}

/* Styles for the seventh text box */
.text-box:nth-child(7) {
  width: 12%;
  height: 6%;
}

/* Styles for the eighth text box */
.text-box:nth-child(8) {
  width: 20%;
  height: 12%;
}

