#diceRollerButton {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 1;
    background-color: rgb(98, 98, 98);
    width: 100%;
    max-width: 10%;
  }
  