.popup {
    position:fixed;
    top: 0%;
    left: 2%;
    width: 120%;
    height: 600px;
    
    display: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.inside-popup {
    display:block;
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    background-color: rgb(185, 185, 185);
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.close-button {
    position: absolute;
    width: auto;
    font-size: 20px;
    top: 16px;
    left: 16px;
}

.p {
    color: black;
    position: relative;
    font-size: 20px;
}

#searchbar {
    width: auto;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#search-png {
    zoom: 2%;
}

#submit-button {
    background-color: rgb(255, 255, 255);
}

li {
    color: black;
    font-size: 35px;
}

#itembutton {
    padding: 1%;
}